html {
	margin: 0 ;
	padding: 0 ;
	width: 100% ;
	height: 100% ;
	min-height: 100% ;
}

body {
	margin: 0 ;
	padding: 10px ;
	height: 100% ;
	min-height: 100% ;
	font-size: 14px ;	
	font-family: sans-serif ;
	color: white ;
	background-color: #18a ;
}


#content {
	display: flex ;
	flex-direction: column ;
	width: 100% ;
	height: 100% ;
	min-height: 100% ;
	text-align: center ;
	align-items: center ;
  justify-content: center ;
}

#content a {
	color: white ;
}

#quiz {
	max-width: 920px ;
	padding: 0 ;
	margin: 0 ;
}

#header, div.card {
	box-sizing: border-box;
	margin: 0px ;
	margin-bottom: 10px ;
	padding: 5px ;
	color: black ;
	background-color: white ;
	border: none ;
	border-radius: 6px ;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) ;
	transition: 0.3s ;
}

p { 
	max-width: 920px ;
}

/* Question and score board */

#header {
	width: 100% ;
	height: 60px ;
	vertical-align: middle ;
	text-align: left ;
}

#header h1 {
	font-size: 18px ;
	margin-left: 5px ;
}

.button {
	box-sizing: border-box ;
	display: inline-block ;
	float: right ;
	height: 40px ;
	line-height: 40px ;
	width: 12em ;
	vertical-align: middle ;
	text-align: center ;
	margin: 5px ;
	padding: 0 6px ;
	border-radius: 6px ;
	font-size: 15px ;
}

#score {
	width: 12em ;
	border: 1px solid gray ;
}

#next {
	width: 6em ;
	color: black ! important ;
	background-color: #fd0 ;
	text-decoration: none ;
}

/* Game board and cards */

#board {
	display: flex ;
	flex-direction: row ;
	flex-wrap: wrap ;
	justify-content: space-between ;
	padding: 0px ;
	margin: 0px ;
}

div.card {
	display: inline-block ;
	box-sizing: border-box ;
	width: 24% ;
}

div.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.card img {
	width: 100% ;
	border-radius: 6px 6px 0 0;
	padding: -5px ;
}

div.correct {
	background-color: greenyellow ;
}

div.incorrect {
	background-color: red ;
}

div.card h1 {
	font-size: 1em ;
	height: 1em ;
}

